{% extends 'dashboard-admin/assinaturas/base.html' %}

{% block title %}
Listagem de Produtos
{% endblock title %}

{% block content %}

<div class="col-lg-12" style="padding-top: 10rem;padding-bottom: 10rem;">
<table class="table">
  <thead>
    <tr>
      <th>Usuário</th>
      <th>Data</th>
      <th>Notícia</th>
      <th>Comentário</th>
      <th>Ação</th>
    </tr>
  </thead>
  <tbody>
  {% for produto in categorias %}
    <tr>
      <td>{{ produto.title }}</td>
      <td>{{ produto.categories }}</td>
      <td>{{ produto.date }}</td>
      <td>{{ produto.content }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
</div>
{% endblock content %}

