{% extends 'base.html' %}
{% load static %}
<body>
    

{% block content%}
<div class="noticias">

    <div class="header-noticias" >
        <h1 style="font-weight: bold; padding-left: 1%;">Novidades</h1>
    </div>
      
      
      
    

    <div class="posts col-11" style="border-top: 2px solid gray; margin-bottom: 5rem;">
    <h1 style="padding-top: 5%; font-weight: bold;">ARTIGOS RECENTES</h1>

    <div class="row col-12" style="padding-top: 5%;">
      <div class=" row col-8">
    {% for post in posts %}
    <div class="col-5">
      
      <div class="Tags gap-xy-2 text-center mt-6">
        {% for cat in post.categories.all %}
        <a href="#" class="badge badge-pill badge-secondry">{{cat}}</a>
        {% endfor %}
    </div>
      {% if post.thumbnail %}
      <a href="#">
        <img class="card-img-top" src="{{post.thumbnail.url}}" alt="Card image cap">
      </a>
      {% else %}
      <a href="#">
        <img class="card-img-top" src="{{post.image_url}}" alt="Card image cap">
      </a>
      {% endif %}
      <div class="p-6 text-center">
        
        <h5 class="mb-0">
          <a class="text" href="{{post.post_link}}">
            {{post.title}}
          </a>
        </h5>

        <h5 class="mb-0">
          <p>
            {{post.overview|safe}}
          </p>
        </h5>
      </div>
    </div>
    
    {% endfor %}
    </div>
    
    
    <div class="col-4">
      
      <div class="sid px-4 py-md-0">
        <h6 class="sidebar-title">
          Search
        </h6>
        <form class="input-group" action="{% url 'search' %}" method="GET" role="form">
          <input type="text" name="search" id="" class="form-control" placeholder="Search">
          
            <span class="input-group-text">
              <i class=" fa fa-search "></i>
            </span>
          
        </form>
      </div>
      <hr>
      <h5 class="sidebar-title">
        Tags
      </h5>
      <div class="row link-color-default fs-14 1h-24">
        {% for category in categories %}
        <div class="col-6">{{category}}</div>
        {% endfor %}
        
      </div>
      <hr>

      </div>  
    </div>
    <nav class="flexbox mt-30">
      {% if posts.has_previous %}
      <a href="?page={posts.previous_page_number}" class="btn btn-danger ">
        <i class="ti-arrow-left fs-9 mr-4">Anterior</i>
      </a>
      {% else %}
      <a href="#" class="btn btn-danger disabled ">
        <i class="ti-arrow-left fs-9 mr-4">Anterior</i>
      </a>
      {% endif %}
      {% if posts.has_next %}
      <a href="?page={{posts.next_page_number}}" class="btn btn-danger ">
        <i class="ti-arrow-right fs-9 mr-4">Próximo</i>
      </a>
      {%else%}
      <a href="#" class="btn btn-danger disabled">
        <i class="ti-arrow-right fs-9 mr-4">Próximo</i>
      </a>
      {%endif%}
    </nav>

    
    
    
</div>
</div>
</div>

{% endblock %}
</body>