{% extends 'dashboard-admin/assinaturas/base.html' %}

{% block title %}
Listagem de Marcas
{% endblock title %}

{% block content %}

<form method="get">
    <div class="col-lg-12">
    <div class="input-group">
      <input type="text" class="form-control" name="busca" placeholder="Buscar marca">
      <span class="input-group-btn">
        <button class="btn btn-default" type="submit">Pesquisar</button>
      </span>
    </div>
    </div>
</form>
<div class="col-lg-12">
<table class="table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Produtos</th>
      <th>Ação</th>
    </tr>
  </thead>
  <tbody>
  {% for marca in lista %}
    <tr>
      <td>{{ marca.title }}</td>
        <td><a href="{% url 'listar_autor_assinatura' pk=marca.pk %}">Assinaturas por Autor</a></td>

      <td>
        <a href="{% url 'editar_assinatura' pk=marca.pk %}">
            <i class="fa fa-edit"></i>
        </a>
        <a href="{% url 'remover_assinatura' pk=marca.pk %}">
            <i class="fa fa-trash"></i>
        </a>
      </td>

    </tr>
  {% endfor %}
  </tbody>
</table>
<a href="{% url 'cadastrar_assinatura' %}">
<button type="submit" class="btn btn-primary">
    Cadastrar
</button>
</a>
</div>
{% endblock content %}

