{%load static%}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'django_project/css/styles_admin.css' %}" />
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jq-3.3.1/dt-1.10.24/datatables.min.css"/>
 

    <title>Admin - Merlin Research</title>
  </head>
  <body id="body" style="font-family: 'Raleway';">
      
    <div class="container col-12 offset-0">
      <nav class="navbar nav col-12 offset-0" style="background: black; margin: 0px;padding-left: 5%;padding-bottom: 6rem;">
        <div class="nav_icon offset-0" onclick="toggleSidebar()">
          <i class="fa fa-bars" aria-hidden="true"></i>
        </div>
        <div class="navbar__left" style="padding:0px 0px 0px 0px">
          
          <a class="active_link" href="#" >ADMIN</a>
        </div>
        <div class="navbar__right">
          <a href="#">
            <i class="fa fa-search" aria-hidden="true"></i>
          </a>
          <a href="#">
            <i class="fa fa-clock-o" aria-hidden="true"></i>
          </a>
          <a href="#">
            <img  src="{% static 'django_project/img/merlin_logo.png' %}" alt="" />
            <!-- <i class="fa fa-user-circle-o" aria-hidden="true"></i> -->
          </a>
        </div>
      </nav>

      <main>
        <div class="main__container">
          <!-- MAIN TITLE STARTS HERE -->

          <div class="main__title" style="padding-bottom: 5rem;">
            <img src="{% static 'django_project/img/dashboard.png' %}" alt="" />
            <div class="main__greeting">
              <h1>Painel Administrativo</h1>
              <p>Aqui você poderá ter controle total da plataforma</p>
            </div>
          </div>

          
        <div class="row text-center" style="position:float;justify-content:center;align-items:center">
          <a href="{% url 'cadastrar_curso' %}" style="text-decoration: none;">        
          <h4 class=" text-center"style="color: honeydew;font-weight: bold;margin:2rem;border-radius:2rem;padding:2rem;background-color:red">Cadastrar Vídeo</h4>
          <a/>
        </div>
          


            <hr>
            

             <h3 class="text-center" style="color: blanchedalmond;">Todos os Vídeos</h3>

            <hr>
            <div class="responsive-table col-10 " style="margin-left: 2rem; padding-bottom: 5%;">
              <table class="table table-striped offset-0" id="tabela-listar" style="text-align: justify;background: rgb(236, 240, 241) ">
                <thead>
                <tr>
                  <th style="padding-left: 5px;">Título</th>
                  <th style="padding-left: 5px;">Descrição</th>
                  <th style="padding-left: 5px;">Imagem</th>
                </tr>
            </thead>
            <tbody>
              {% for videos in video %}
                  <tr>
                    <td style="padding-left: 5px;"><a class="text" href="{{post.post_link}}">
                      {{videos.title}}
                    </a>
                    </td>

                    <td style="padding-left: 5px;"><a class="text" >
                      {{videos.description}}
                      </a>
                    </td>

                    <td style="padding-left: 5px;">
                      {% if videos.image %}
                      <a href="#">
                        <img class="card-img-top" src="{{videos.image.url}}" alt="Card image cap"style="max-width: 10rem;">
                      </a>
                      {% else %}
                      <a href="#">
                        <img class="card-img-top" src="{{videos.image.link}}" alt="Card image cap" style="max-width: 20rem;">
                      </a>
                      {% endif %}
                    </td>
                    <td style="padding-left: 5px;"><a class="text" href="{% url 'editar_curso' pk=video.pk %}">
                      <i class="fa fa-edit"></i>
                      </a>
                    </td>
                    <td style="padding-left: 5px;"><a class="text" href="{% url 'remover_curso' pk=video.pk %}">
                      <i class="fa fa-trash"></i>
                      </a>
                    </td>
                  </tr>

                {% endfor %}
            </tbody>
              </table>
            </div>

            
          
            
          
        </div>
      </main>

      <div id="sidebar">
        <div class="sidebar__title">
          <div class="sidebar__img">
            <img src="{% static 'django_project/img/merlin_logo.png' %}" alt="" />
            <h1>Merlin Research</h1>
          </div>
          <i
            onclick="closeSidebar()"
            class="fa fa-times"
            id="sidebarIcon"
            aria-hidden="true"
          ></i>
        </div>

        <div class="sidebar__menu">
          <div class="sidebar__link active_menu_link">
            <i class="fa fa-home"></i>
            <a href="/admin-dashboard">Dashboard</a>
          </div>
          <h2><a  href="/admin-dashboard" style="color: red;text-decoration: none;">Home</a></h2>
          <div class="sidebar__link">
            <i class="fa fa-user-secret" aria-hidden="true"></i>
            <a href="#">Valor Total de Vendas</a>
          </div>
          <div class="sidebar__link">
            <i class="fa fa-building-o"></i>
            <a href="#">Total de Vendas no Mês</a>
          </div>
          <div class="sidebar__link">
            <i class="fa fa-wrench"></i>
            <a href="#">Total de Usuários Cadastrados</a>
          </div>
          <div class="sidebar__link">
            <i class="fa fa-archive"></i>
            <a href="#">Usuários Pagantes/Não Pagantes</a>
          </div>
          <div class="sidebar__link">
            <i class="fa fa-handshake-o"></i>
            <a href="#">Artigos: Mais Comentados e Curtidos</a>
          </div>
          <a href="/usuarios-dashboard"style="color:red;text-decoration: none;"><h2> Usuários/Busca</a>
          <div class="sidebar__link">
            <i class="fa fa-question"></i>
            <a href="#">Pagantes</a>
          </div>
          <div class="sidebar__link">
            <i class="fa fa-sign-out"></i>
            <a href="#">Não Pagantes</a>
          </div>
          
          <h2><a href="/vendas-dashboard"style="color: red;text-decoration: none;">Vendas</a></h2>
          <div class="sidebar__link">
            <i class="fa fa-money"></i>
            <a href="#">Ranking</a>
          </div>
          <div class="sidebar__link">
            <i class="fa fa-briefcase"></i>
            <a href="#">Total De Pagantes/Não Pagantes</a>
          </div>
          <div class="sidebar__link">
            <i class="fa fa-briefcase"></i>
            <a href="#">Valor Total De Vendas</a>
          </div>
          <div class="sidebar__link">
            <i class="fa fa-briefcase"></i>
            <a href="#">Total de Estorno</a>
          </div>
          
          <h2><a href="/analitico-dashboard"style="color: red;text-decoration: none;">Analítico</a></h2>
          <div class="sidebar__link">
            <i class="fa fa-money"></i>
            <a href="#">Infos: Pagantes</a>
          </div>
          <div class="sidebar__link">
            <i class="fa fa-briefcase"></i>
            <a href="#">Produto Mais Comprado</a>
          </div>
          <div class="sidebar__link">
            <i class="fa fa-briefcase"></i>
            <a href="#">Horário Mais Acessado</a>
          </div>
          <div class="sidebar__link">
            <i class="fa fa-briefcase"></i>
            <a href="#">Artigo e Post Mais Acessado/Comentado</a>
          </div>
          <div class="sidebar__link">
            <i class="fa fa-briefcase"></i>
            <a href="#">Gŕafico - Vendas/Mês</a>
          </div>
          <div class="sidebar__link">
            <i class="fa fa-briefcase"></i>
            <a href="#">Total: Produtos/Vendas/Vendas por Produto/Download/Vendas Abandonadas</a>
          </div>
          <div class="sidebar__link">
            <i class="fa fa-briefcase"></i>
            <a href="#">Ranking De Vendas Abandonadas/Produtos</a>
          </div>
          <div class="sidebar__link">
            <i class="fa fa-briefcase"></i>
            <a href="#">Total De Acessos/Mês/Semana/Dia</a>
          </div>
          <h2><a href="/artigos-dashboard"style="color: red;text-decoration: none;">Artigos/Fórum</a></h2>
          <div class="sidebar__link">
            <i class="fa fa-money"></i>
            <a href="#">Artigos</a>
          </div>
          <div class="sidebar__link">
            <i class="fa fa-briefcase"></i>
            <a href="#">Fórum</a>
          </div>
          
          
          <h2><a href="/produtos-dashboard"style="color: red;text-decoration: none;">Produtos</a></h2>
          <div class="sidebar__link">
            <i class="fa fa-money"></i>
            <a href="#">Listagem de Produtos</a>
          </div>
          <div class="sidebar__link">
            <i class="fa fa-briefcase"></i>
            <a href="#">Novo Relatório</a>
          </div>
          <div class="sidebar__link">
            <i class="fa fa-briefcase"></i>
            <a href="#">Novo Curso</a>
          </div>
          <h2><a href="/dashboard-analises/upload"style="color: red;text-decoration: none;">Relatórios</a></h2>
          <div class="sidebar__link">
            <i class="fa fa-briefcase"></i>
            <a href="#">Listagem</a>
          </div>
          
          <div class="sidebar__logout">
            <i class="fa fa-power-off"></i>
            <a href="#">Log out</a>
          </div>
        </div>
      </div>
    </div>
    
    
    

    <!-- Boostrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jq-3.3.1/dt-1.10.24/datatables.min.js"></script>
    <script src="{% static 'django_project/js/script.js' %}" alt="" > </script>



    <script>
      $('#tabela-listar').DataTable({
        responsive: true,
        // "bSort": false,
        "aaSorting": [],
        "pageLength": 50,
        "language": {
            "decimal": "",
            "emptyTable": "Sem dados disponíveis",
            "info": "Mostrando de _START_ até _END_ de _TOTAL_ registos",
            "infoEmpty": "Mostrando de 0 até 0 de 0 registos",
            "infoFiltered": "(filtrado de _MAX_ registos no total)",
            "infoPostFix": "",
            "thousands": ",",
            "lengthMenu": "Mostrar _MENU_ registos",
            "loadingRecords": "A carregar dados...",
            "processing": "A processar...",
            "search": "Procurar:",
            "zeroRecords": "Não foram encontrados resultados",
            "paginate": {
                "first": "Primeiro",
                "last": "Último",
                "next": "Seguinte",
                "previous": "Anterior"
            },
            "aria": {
                "sortAscending": ": ordem crescente",
                "sortDescending": ": ordem decrescente"
            }
        }
    });
  </script>
  </body>
</html>