{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="assinaturas">
    
    
    <h1 class="text-center" style="color:white; font-weight: bold; font-size: 2.5rem;" >Já pensou em se tornar um
         <br>investidor de sucesso?</h1>
    <h3 class="text-center" style="padding-bottom: 15%;">Confira nossas assinaturas abaixo</h3>
    {% for apost in aposts %}
    <div class="row col-12" style="padding-bottom: 8%;">
        {% if apost.thumbnails %}
    <img class="img offset-1"  style="padding-right: 1rem;" src="src={{apost.thumbnails.url}}" alt="Card image cap">
        {% else %}
    <img class="img offset-1"  style="padding-right: 1rem;" src="{{apost.image_url}}" alt="Card image cap">
        {%endif%}
    <div>
    <p><span style="color: rgb(185, 64, 121);font-weight: bold;">{{apost.title}}</span> {{apost.overview|safe}}</p>
        <a class="text" href="{{apost.post_link}}"> <button type="button" class="btn btn-danger">Saiba mais</button></a>
    </div>
    </div>

    
    
                
    {%endfor%}
</section>



{% endblock %}