{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="assinaturas">
    
    <h1 class="text-center" style="color:white; font-weight: bold; font-size: 2.5rem;" >Já pensou em se tornar um
         <br>investidor de sucesso?</h1>
    <h3 class="text-center" style="padding-bottom: 15%;">Confira nossas assinaturas abaixo</h3>
    
    <div class="row col-12" style="padding-bottom: 8%;">
    <img class="img offset-1"  style="padding-right: 1rem;" src="{% static 'django_project/img/assinaturas/smallcaps.png' %}" alt="Card image cap">
    <div>
    <p><span style="color: rgb(185, 64, 121);font-weight: bold;">Small Caps.</span> Para aqueles que querem se <br>
        destacar no mercado financeiro com <br>
        insvestimentos de grande risco, entretanto, <br>
        que podem gerar grandes riquezas. Você <br>
        se considera um investidor agressivo?<br>
        Esta assinatura é para você</p>
        <button type="button" class="btn btn-danger">Saiba mais</button>
    </div>
    </div>

    <div class="row col-11 offset-1" style="padding-bottom: 8%;">
        
    <div>
    <div class="row col-12">
      
    <p><span style="color:rgba(238, 191, 73, 0.979);font-weight: bold;">Dividendos</span> Grandes nomes do mercado<br>
        financeiro se consagraram através de<br>
        dividendos e recomendam para quem<br>
        quer viver de investimentos. Se você<br>
        pretende viver do mercado financeiro,<br>
        dividendos é perfeito para você
    </p>
        <button type="button" class="btn btn-danger">Saiba mais</button>
    </div>

    </div>
    <img class="img offset-1"  style="padding-right: 1rem;" src="{% static 'django_project/img/assinaturas/dividendos.png' %}" alt="Card image cap">
    </div>

    <div class="row col-12" style="padding-bottom: 8%;">
        <img class="img offset-1"  style="padding-right: 1rem;" src="{% static 'django_project/img/assinaturas/acoes.png' %}" alt="Card image cap">
    <div><div class="row col-12">
      
    <p><span style="color: rgb(185, 64, 121);font-weight: bold;">Ações.</span>  Investir em ações se tornou muito<br>
        lucrativo nos últimos tempos, e sabemos <br>
        que o retorno é grande, por isso, se você <br>
        tem vontade de começar a investir e <br>
        enteder sobre o mercado financeiro,<br>
        matricule-se agora em ações
    </p>
        <button type="button" class="btn btn-danger">Saiba mais</button>
    </div>

    </div>
    </div>

    <div class="row col-11 offset-1" style="padding-bottom: 8%;">
        
        <div>
        <div class="row col-12">
          
        <p><span style="color:rgba(238, 191, 73, 0.979);font-weight: bold;">FIIS.</span>  O termo parece complicado, mas a<br>
            aplicação é super simples, e melhor,<br>
            rende muito. Para aqueles que se<br>
            consideram investidores moderados ou<br>
            conservadores, FIIS é perfeito para que<br>
            consiga atingir seu objetivo
            
        </p>
            <button type="button" class="btn btn-danger">Saiba mais</button>
        </div>
    
        </div>
        <img class="img offset-1"  style="padding-right: 1rem;" src="{% static 'django_project/img/assinaturas/fiis.png' %}" alt="Card image cap">
        </div>

    <div class="row col-12" style="padding-bottom: 8%;">
        <img class="img offset-1"  style="padding-right: 1rem;" src="{% static 'django_project/img/assinaturas/trader.png' %}" alt="Card image cap">
    <div><div class="row col-12">
      
    <p><span style="color: rgb(185, 64, 121);font-weight: bold;">Trader.</span>  Um investidor agressivo precisa<br>
        de uma assinatura agressiva, portanto, a<br>
        assinatura de trader é perfeita para<br>
        aqueles que querem entrar de cabeça no<br>
        mercado financeiro e arriscar para ganhar<br>
        muito dinheiro
    </p>
        <button type="button" class="btn btn-danger">Saiba mais</button>
    </div>

    </div>
    </div>

    <div class="row col-11 offset-1">
        
        <div>
        <div class="row col-12">
          
        <p><span style="color:rgba(238, 191, 73, 0.979);font-weight: bold;">Completo.</span>  Se encaixou em todas as<br>
            assinaturas e não consegue escolher<br>
            uma? Faça todas, a assinatura completa<br>
            permite que tenha acesso ao conteúdo de<br>
            todas as assinaturas anteriores e tornar-se<br>
            um investidor completo
        </p>
            <button type="button" class="btn btn-danger">Saiba mais</button>
        </div>
    
        </div>
        <img class="img offset-1"  style="padding-right: 1rem;" src="{% static 'django_project/img/assinaturas/completo.png' %}" alt="Card image cap">
        </div>
    
                
    
</section>



{% endblock %}