{% extends 'base.html' %}
{% load static %}


{% block content %}
    <main class="main-content" style="padding-top: 15%;color: black;">

        <div class="section" >
            <div class="container">
                <div class="text-center mt-8">
                    <h2>{{apost.title}}</h2>
                    <p> {{apost.date|date}} | {{apost.categories.all.0}} | 
                        <i class="fa fa-eye" aria-hidden="true"></i>
                    </p>
                </div>

                {% if apost.thumbnail.url %}
                <div class=" text-center mt-8" >
                    <img src="{{apost.thumbnail.url}}" style="max-width: 35rem;">
                </div>

                {% else %}
                <div class="text-center mt-8">
                    <img src="{{ apost.image_url }}">
                </div>
                {% endif %}

                <div class="post-content row mt-5">
                    <div class="col-lg-8 mx-auto" style="color: black">
                        
                        <div>
                            {{apost.overview|safe}}
                        </div>
                        <hr class="w-100px">
                        <div>
                            {{apost.content|safe}}
                        </div>

                    </div>
                </div>

                <div class="Tags gap-xy-2 text-center mt-6">
                    {% for cat in apost.categories.all %}
                    <a href="#" class="badge badge-pill badge-secondry">{{cat}}</a>
                    {% endfor %}
                </div>

                <!--comments-->
                <div class="section">
                    <div class="container">
                     <!---->   <h2>Comentários({{post_comments_count}})</h2>
                        <div class="row">
                            <div class="col-lg-8 mx-auto">
                                <!--display comment-->
                                    <div class="media-list">
                                        {% for comment in post_comments %}
                                        <div style="color:black">
                                            <img class="avatar avatar-sm mr-4" src="{{user.profile.image}}">
                                            <div class="media-body" style="color:black">
                                                <div class="small-1">
                                                    <b>{{comment.user}}</b>
                                                    <time class="ml-4 opacity-70 small-3">{{comment.date}}</time>
                                                </div>
                                                <p style="color:black">{{comment.content}}</p>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                <!--display form-->
                                <form method="POST" action="{% url 'post' slug=post.slug %}" style="color:black">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        {{form}}
                                    </div>
                                    <button class="btn btn-danger btn-block" type="submit">Comentar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </main>
{% endblock %}