{% extends 'base.html' %}
{% load static %}


{% block content %}
    <main class="main-content" style="padding-top: 15%;color: black;">

        <div class="section" >
            <div class="container">
                <div class="text-center mt-8">
                    <h2>{{post.title}}</h2>
                    <p> {{post.date|date}} | {{apost.categories.all.0}} | 
                        <i class="fa fa-eye" aria-hidden="true"></i>
                    </p>
                </div>

                {% if apost.thumbnails.url %}
                <div class=" text-center mt-8" >
                    <img src="{{apost.thumbnails.url}}" style="max-width: 35rem;">
                </div>

                {% else %}
                <div class="text-center mt-8">
                    <img src="{{ apost.image_url }}">
                </div>
                {% endif %}

                <div class="post-content row mt-5">
                    <div class="col-lg-8 mx-auto" style="color: black">
                        
                        <div>
                            {{apost.overview|safe}}
                        </div>
                        <hr class="w-100px">
                        <div>
                            {{apost.content|safe}}
                        </div>

                    </div>
                </div>

                <div class="Tags gap-xy-2 text-center mt-6">
                    {% for cat in apost.categories.all %}
                    <a href="#" class="badge badge-pill badge-secondry">{{cat}}</a>
                    {% endfor %}
                </div>

                <!--comments-->
                

            </div>
        </div>

    </main>
{% endblock %}