{% extends 'base.html' %}
{% load static %}


{% block content %}
    <main class="main-content" style="padding-top: 15%;color: black;">
        <div class>
            {{ cart }}

            {% if object in cart.products.all %}
            Produto no Carrinho <button class="btn btn-link">Excluir</button>
            {%else%}
            <button class="btn btn-danger">Adicionar ao carrinho</button>
            {%endif%}
            {% include 'snippets/update-cart.html' with product=object cart=cart %}
        </div>
        <section class="assinaturas-1">
            <div class="container">
                <div class="text-center mt-8">instance.total = instance.subtotal + 0
                    <h2>{{post.title}}</h2>
                    <p> {{post.date|date}} | {{apost.categories.all.0}} | 
                        <i class="fa fa-eye" aria-hidden="true"></i>
                    </p>
                </div>

                {% if apost.thumbnails.url %}
                <div class=" text-center mt-8" >
                    <img src="{{apost.thumbnails.url}}" style="max-width: 35rem;">
                </div>

                {% else %}
                <div class="text-center mt-8">
                    <img src="{{ apost.image_url }}">
                </div>
                {% endif %}

                <div class="post-content row mt-5">
                    <div class="col-lg-8 mx-auto" style="color: black">
                        
                        <div>
                            {{apost.overview|safe}}
                        </div>
                        <hr class="w-100px">
                        <div>
                            {{apost.content|safe}}
                        </div>

                    </div>
                </div>

                <div class="Tags gap-xy-2 text-center mt-6">
                    {% for cat in apost.categories.all %}
                    <a href="#" class="badge badge-pill badge-secondry">{{cat}}</a>
                    {% endfor %}
                </div>

                <!--comments-->
                

            </div>
        </section>

        <section class="assinaturas-2" >
            <div class="row" style="color: black;">

            <div class="col-6" >
            
                <h1>Detalhes da Assinatura</h1>
            
            </div>
            <div class="col-5">

            <p>
                lives exclusivas
            </p>

            <p>
                lives exclusivas
            </p>

            <p>
                lives exclusivas
            </p>

            <p>
                lives exclusivas
            </p>

            </div>

            </div>
        </section>
            
        <section class="assinaturas-3">
            <div class="row">
                <div class="col-5">
                    <h1> O Professor:</h1>

                </div>

                <div class="col-5">
                    <h1>José Carlos</h1>
                    <p>
                        Lorem Ipsum Lorem Ipsum
                        Lorem Ipsum Lorem Ipsum 
                        Lorem Ipsum Lorem Ipsum 
                        Lorem Ipsum Lorem Ipsum 
                        Lorem Ipsum Lorem Ipsum 
                        Lorem Ipsum Lorem Ipsum 
                        Lorem Ipsum Lorem Ipsum 
                        Lorem Ipsum Lorem Ipsum 

                    </p>
                </div>
            </div>
        </section>

    </main>
{% endblock %}