{% extends 'base-dashboard.html' %}
{% load static %}

{% block content %}
<section class="offset-1" style="font-family: 'Raleway';">
<div class="row">

<h1 class="col-4" style="color: black;">FALE COM O ESPECIALISTA</h1>
<div class="col-5 offset-0">
    <img class="card-img-top offset-4"  style="max-width: 20rem;"  src="{% static 'django_project/img/dashboard/espcialista0.png' %}" alt="Card image cap">
    
</div>

</div>





    <h1 class="text-center" style="color:black;width:30rem">Em Breve </h1>




</section>

{%endblock%}