{% extends 'base-dashboard.html' %}
{% load static %}

{% block content %}


<!-- The sidebar -->

  

<div class="image-home col-9 offset-1 " style="padding-top: 5%;">
    
    <img class="card-img" src="{% static 'django_project/img/dashboard/home/homeheader.png' %}" alt="Card image" >
    <div class="card-img-overlay" style="padding-top: 10%;">
      <h5 class="card-title">Não perca mais tempo</h5>
      <p class="card-text">Conheça nosso curso de introdução <br> Smaal Caps</p>
      
      <button type="button" class="btn btn-danger">CONHECER</button>

    </div>
  
    <div class="home-3-colunas" >
      <div class="row" style="padding-top: 5%;">
      <div class=" col-6 offset-0" style="margin-left: 0%; color: black;">
        <div class="card-body" >
          <h5 class="card-title " style="font-weight: bold;">Notícias de hoje</h5>
        </div>
        <a href="{% url 'dashboard-noticias' %}">
          <img class="card-img" src="{% static 'django_project/img/dashboard/home/noticias.png' %}" alt="Card image">
        </a>
      </div>

      <div class=" col-3" style="margin-left: 0%; color: black;">
        
        <div class="card-body" >
          <h5 class="card-title " style="font-weight: bold;">Suas Assinaturas</h5>
        </div>
        <a href="{% url 'dashboard-assinaturas' %}">
          <img class="card-img" src="{% static 'django_project/img/dashboard/home/assinaturas.png' %}" alt="Card image cap">
        </a>
      </div>

      <div class=" col-3" style="margin-left: 0%; color: black;">
          
        <div class="card-body" >
          <h5 class="card-title " style="font-weight: bold;">Seus Cursos</h5>
          
          
        </div>
        <img class="card-img" src="{% static 'django_project/img/dashboard/home/cursos.png' %}" alt="Card image cap">
          
      </div>
  </div>
  </div>


    
  
  <div class="home-3-colunas" >
    <div class="row" style="padding-top: 5%;">
    <div class=" col-4 " style="margin-left: 0%; color: black;">
      <div class="card-body" >
        <h5 class="card-title " style="font-weight: bold;">A bolsa hoje</h5>
      </div> 
    </div>

    <div class=" col-7" style="margin-left: 0%; color: black;">
      <div class="card-body" >
        <h5 class="card-title " style="font-weight: bold;">Continue onde parou</h5>
      </div>
    </div>
    
</div>
</div>
  


  
</div>





{% endblock %}