{% extends 'base-dashboard.html' %}
{% load static %}

{% block content %}
<section class="offset-1" style="font-family: 'Raleway';">
<div class="row">

<h1 class="col-4" style="color: black;">FALE COM O ESPECIALISTA</h1>
<div class="col-5 offset-0">
    <img class="card-img-top offset-4"  style="max-width: 20rem;"  src="{% static 'django_project/img/dashboard/espcialista0.png' %}" alt="Card image cap">
    
</div>

</div>

<h2 style="color:black;">Selecione o especialista que gostaria de falar:</h2>

<div class="home-3-colunas" >
  <div class="row" style="padding-top: 5%;" >
  <div class=" col-3 offset-0" style="margin-left: 0%; color: black;">
    
    <img class="card-img" src="{% static 'django_project/img/dashboard/especialista1.png' %}" alt="Card image cap">
    <div class="card-img-overlay" style="padding-top: 10%; color: white;">
      <h3 class="card-title">João Carlos</h3>
      

    </div>
      
  </div>
  <div class=" col-3" style="margin-left: 0%; color: black;">
    
    
    <img class="card-img" src="{% static 'django_project/img/dashboard/especialista2.png' %}" alt="Card image cap">
    <div class="card-img-overlay" style="padding-top: 10%; color: white;">
      <h3 class="">Antônio Rubens</h3>
      

    </div>
      
  </div>
  <div class=" col-3" style="margin-left: 0%; color: black;">
      
    <div class="card-img-overlay" style="padding-top: 10%; color: white;">
      <h3 class="card-title">Gilberto Pedroza</h3>
      

    </div>
    <img class="card-img" src="{% static 'django_project/img/dashboard/espcialista3.png' %}" alt="Card image cap">
      
  </div>
</div>
</div>

</div>


</section>

{%endblock%}