{% extends 'base-dashboard.html' %}

{% load static %}

{% block content %}
<section class="offset-1" style="color:black">
    <div class="row">

    <div style="color: black; padding-top: 15%;">

    <h1 style="font-family: 'Raleway'; font-size: 4rem;">ANÁLISES</h1>
    <p style="font-family: 'Raleway'; ">
        Suas análises de forma simples, <br>
         rápida e objetiva
    </p>

    </div>


    <div class="col-6" style="padding-bottom: 10%;">
        <img class="card-img-top offset-4"  style="max-width: 20rem;"  src="{% static 'django_project/img/dashboard/analises.png' %}" alt="Card image cap">
    </div>

    </div>



    


<form method="get">
        {% csrf_token %}
        <div class="col-lg-12">
        <div class="input-group">
        <input type="text" class="form-control" name="busca" placeholder="Buscar marca">
        <span class="input-group-btn">
            <button class="btn btn-default" type="submit">Pesquisar</button>
        </span>
        </div>
        </div>
    </form>
    <div class="col-lg-12">
    <table class="table">
    <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Nome</th>
                <th scope="col">Resumo</th>
                <th scope="col">Data</th>
            </tr>
        </thead>
        <tbody>
            {% for file in files %}
            <tr class="clickable">
                <td>
                    <div class="row-fluid summary">
                        <button class="btn-danger btn-block" data-toggle="collapse" data-target="#col1-row1">+</button>
                    </div>
                </td>
                <td>{{file.name}}</td>
                <td>{{file.resume}}</td>
                <td>{{file.created}}</td>
            </tr>
            <tr id="col1-row1" class="collapse">
                <td colspan="9">
                    <div class="row-fluid summary">
                            <a href="{{file.pdf.url}}" target="_blank" class="btn btn-danger">Download</a>
                    </div>
                </td>
            </tr>
          
            {% endfor %}
        </tbody>
    </table>
    </div>



    
</section>

{% endblock %}