{% extends 'base-dashboard.html' %}
{% load static %}

{% block content %}

<section class="offset-1" style="color: black; font-family: 'Raleway';">
    <div class="row col-12 " style="color: black;">
        <div>

        <h1>VÍDEOS <br>EXCLUSIVOS</h1>
        <p>
            Confira nossa seleção de vídeos exclusivos <br>
            para quem é assinante Merlin.
        </p>

        </div>


        <div class="col-6">
            <img class="card-img-top offset-4"  style="max-width: 20rem;"  src="{% static 'django_project/img/dashboard/videos_exclusivos.png' %}" alt="Card image cap">
        </div>

    </div>

    <div class="row col-12" style="padding-bottom: 8%; padding-top: 5%; color: black;">
        <img class="img col-6"  style="padding-right: 1rem;" src="{% static 'django_project/img/assinaturas/smallcaps.png' %}" alt="Card image cap">
        <div>
        <p><span style="color: rgb(185, 64, 121);font-weight: bold;">Small</span> Caps. Para aqueles que querem se <br>
            destacar no mercado financeiro com <br>
            insvestimentos de grande risco, entretanto, <br>
            que podem gerar grandes riquezas. Você <br>
            se considera um investidor agressivo?<br>
            Esta assinatura é para você</p>
            <button type="button" class="btn btn-danger">Confira no Youtube</button>
        </div>
    </div>


    <div class="row col-12" style="padding-bottom: 8%; color: black;">
        <img class="img col-6"  style="padding-right: 1rem;" src="{% static 'django_project/img/assinaturas/smallcaps.png' %}" alt="Card image cap">
        <div>
        <p><span style="color: rgb(185, 64, 121);font-weight: bold;">Small</span> Caps. Para aqueles que querem se <br>
            destacar no mercado financeiro com <br>
            insvestimentos de grande risco, entretanto, <br>
            que podem gerar grandes riquezas. Você <br>
            se considera um investidor agressivo?<br>
            Esta assinatura é para você</p>
            <button type="button" class="btn btn-danger">Confira no Youtube</button>
        </div>
    </div>


    <div class="row col-12" style="padding-bottom: 8%; color: black;">
        <img class="img col-6"  style="padding-right: 1rem;" src="{% static 'django_project/img/assinaturas/smallcaps.png' %}" alt="Card image cap">
        <div>
        <p><span style="color: rgb(185, 64, 121);font-weight: bold;">Small</span> Caps. Para aqueles que querem se <br>
            destacar no mercado financeiro com <br>
            insvestimentos de grande risco, entretanto, <br>
            que podem gerar grandes riquezas. Você <br>
            se considera um investidor agressivo?<br>
            Esta assinatura é para você</p>
            <button type="button" class="btn btn-danger">Confira no Youtube</button>
        </div>
    </div>

</section>

{% endblock %}