{% extends 'base.html' %}
{% load crispy_forms_tags %}
{%block content%}

<section class="row-login col-12 mr-auto" style="font-family: 'Raleway';">
<div class="content-register col-5">
<h1>Ainda não tem cadastro?</h1>
<p>Para acessar todos os benefícios da Merlin
    Research é necessário possuir cadastro, mas
    não se preocupe, é rápido e fácil se cadastrar.
</p>
<button type="button" class="btn btn-danger"><a href="/register"> CRIAR CONTA </a></button>
</div>
<div class="login col-3">
    <h1>Fazer login</h1>
    <form method="POST">
        {% csrf_token %}
        {{form | crispy}}
        <button type="submit" class="btn btn-danger btn-block">Login</button>
      </form>
      <a href="{% url 'change-password' %}"><span>Change Password</span></a>
      <button type="submit" class="btn btn-danger btn-block"><a href="{% url 'password_reset' %}">Forgot Password</a></button>
</div>
</section>
{%endblock%}