{% extends 'base.html' %}
{% load static %}
<body>
    

{% block content%}
<div class="noticias">

    <div class="header-noticias" >
        <h1 style="font-weight: bold; padding-left: 1%;">NOTÍCIAS</h1>
    </div>
    {% for c in carrossel %}
    <div id="carouselExampleIndicators" class="carousel slide " data-ride="carousel" style="padding-top: 5%;padding-left: 2rem; max-height: 10%;">
       
        <div class="carousel-inner" >
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-item active"  >
            <div class="row" style="margin-bottom: 2%;">
            <img class="d-block w-70  image-responsive" src="{{c.thumbnailCarrossel1.url}}" alt="First slide">
            
            <div class="card" style="width: 18rem; background-color: #1d1d1d;">
              
              <div class="card-body">
                <h5 class="card-title" style="font-weight: bold;">{{c.title1}}</h5>
                <p class="card-text">13/05/2021</p>
                <p class="card-text" style="">{{c.text1}}</p>
                <a href="#" class="btn btn-danger" style="">Confira a matéria completa</a>
              </div>
            </div>
          
          </div>
          </div>
          <div class="carousel-item ">
            <div class="row" style="margin-bottom: 2%;">
            <img class="d-block w-50 image-responsive" src="{{c.thumbnailCarrossel2.url}}" alt="Second slide">
            
            
            <div class="card" style="width: 18rem; background-color: #1d1d1d;">
              
              <div class="card-body">
                <h5 class="card-title" style="font-weight: bold;">{{c.title2}}</h5>
                <p class="card-text">13/05/2021</p>
                <p class="card-text">{{c.text2}}</p>
                <a href="#" class="btn btn-danger" style="">Confira a matéria completa</a>
              </div>
            </div>


            </div>
          </div>
          <div class="carousel-item">
            <div class="row" style="margin-bottom: 2%;">
            <img class="d-block w-80 image-responsive" src="{{c.thumbnailCarrossel3.url}}" alt="Third slide">
            

            <div class="card" style="width: 18rem; background-color: #1d1d1d;">
              
              <div class="card-body">
                <h5 class="card-title" style="font-weight: bold;">{{c.title3}}</h5>
                <p class="card-text">13/05/2021</p>
                <p class="card-text">{{c.text3}}</p>
                <a href="#" class="btn btn-danger" style="">Confira a matéria completa</a>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev image-responsive" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    {% endfor %}
      
      
      
    

    <div class="posts col-11" style="border-top: 2px solid gray; margin-bottom: 5rem;">
    <h1 style="padding-top: 5%; font-weight: bold;">ARTIGOS RECENTES</h1>

    <div class="row col-12" style="padding-top: 5%;">
      <div class=" row col-8">
    {% for post in posts %}
    <div class="col-5">
      
      <div class="Tags gap-xy-2 text-center mt-6">
        {% for cat in post.categories.all %}
        <a href="#" class="badge badge-pill badge-secondry">{{cat}}</a>
        {% endfor %}
    </div>
      {% if post.thumbnail %}
      <a href="#">
        <img class="card-img-top" src="{{post.thumbnail.url}}" alt="Card image cap">
      </a>
      {% else %}
      <a href="#">
        <img class="card-img-top" src="{{post.image_url}}" alt="Card image cap">
      </a>
      {% endif %}
      <div class="p-6 text-center">
        
        <h5 class="mb-0">
          <a class="text" href="{{post.post_link}}">
            {{post.title}}
          </a>
        </h5>

        <h5 class="mb-0">
          <p>
            {{post.overview|safe}}
          </p>
        </h5>
      </div>
    </div>
    
    {% endfor %}
    </div>
    
    
    <div class="col-4">
      
      <div class="sid px-4 py-md-0">
        <h6 class="sidebar-title">
          Search
        </h6>
        <form class="input-group" action="{% url 'search' %}" method="GET" role="form">
          <input type="text" name="search" id="" class="form-control" placeholder="Search">
          
            <span class="input-group-text">
              <i class=" fa fa-search "></i>
            </span>
          
        </form>
      </div>
      <hr>
      <h5 class="sidebar-title">
        Tags
      </h5>
      <div class="row link-color-default fs-14 1h-24">
        {% for category in categories %}
        <div class="col-6">{{category}}</div>
        {% endfor %}
        
      </div>
      <hr>
      <h6 class="sidebar-title">Polpular Posts</h6>
      {% for pop in popular_posts %}
                <a class="media text-default align-items-center mb-5" href="{{pop.post_link}}">
                  {% if pop.thumbnail %}
                  <img src="{{pop.thumbnail.url}}" alt="popular-post-image" class="rounded w-65px mr-4" style="max-width: 8rem;">
                  {% else %}
                  <img src="{{pop.image_url}}" alt="popular-post-image" class="rounded w-65px mr-4">
                  {% endif %}
                  <p class="media-body small-2 1h-4 mb-0">{{pop.title}}</p>
                </a>
      {% endfor %}

      </div>  
    </div>
    <nav class="flexbox mt-30">
      {% if posts.has_previous %}
      <a href="?page={posts.previous_page_number}" class="btn btn-danger ">
        <i class="ti-arrow-left fs-9 mr-4">Anterior</i>
      </a>
      {% else %}
      <a href="#" class="btn btn-danger disabled ">
        <i class="ti-arrow-left fs-9 mr-4">Anterior</i>
      </a>
      {% endif %}
      {% if posts.has_next %}
      <a href="?page={{posts.next_page_number}}" class="btn btn-danger ">
        <i class="ti-arrow-right fs-9 mr-4">Próximo</i>
      </a>
      {%else%}
      <a href="#" class="btn btn-danger disabled">
        <i class="ti-arrow-right fs-9 mr-4">Próximo</i>
      </a>
      {%endif%}
    </nav>

    
    
    
</div>
</div>
</div>

{% endblock %}
</body>